.input.ng.invalid{
    border: red;
}
.error{
    color:red;
}
.mandatory{ color:red; }

// .mat-radio-button ~ .mat-radio-button {
//     margin-left: 16px;
//   }
  
//   .mat-ripple:not(:empty) {
//     transform: translateZ(0);
// }
// .mat-radio-outer-circle {
//     border-color: rgba(0,0,0,.54);
// }