<mat-card class="p-0">
  <!-- <button style="float: right; background: transparent;" mat-dialog-close class="closeDel">X</button> -->
                <mat-card-title style="margin: 10px; color: #0e1068 !important;">

                  Information :
                </mat-card-title>
                <mat-card-content>
                  <div>
                   
              

                    <b>Address : </b>{{DivData.dealer_address}}<br/>
                    <b>Dealer Code : </b> {{DivData.dealer_code}}<br/>
                    <b>Contact No:</b> {{DivData.dealer_contact_no}}<br/>
                    <b>Dealer Id:</b> {{DivData.dealer_id}}<br/>
                    <b>Lat :</b> {{DivData.dealer_location_latitude}}<br/>
                    <b>Long:</b> {{DivData.dealer_location_longitude}}<br/>
                    <b>Mobile Number: </b> {{DivData.dealer_mobile_number}}<br/>
                    <b>Dealer Name:</b> {{DivData.dealer_name}}<br/>
                    
                    <b>Billing City :</b> {{DivData.div_bill_city}}<br/>
                    <b>City :</b> {{DivData.div_city_name}}<br/>
                    <b>Division Name</b> {{DivData.div_common_name}}<br/>
                    <b>Division Name :</b> {{DivData.div_name}}<br/>
                    <b>Division Type:</b> {{DivData.div_type}}<br/>
                    <b>DPM Number :</b> {{DivData.dpm_contact_num}}<br/>
                    <b>DPN Name:</b> {{DivData.dpm_first_name}}<br/>
                    <b>DPM Last Name:</b> {{DivData.dpm_last_name}}<br/>
                    
                    <b>DPM POS Name :</b> {{DivData.dpm_pos_name}}<br/>


                  </div>
                </mat-card-content>
              </mat-card>