.srch-box {
    float: left;
    width: 100%;
    position: relative;
    // margin-bottom: 15px;
}


.leftmargin
{
    margin-left: 0.5px;
}

.pickers{
    height: 35px;
    padding: 5px;
    width: 200px;
  }

  #cdk-overlay-3{ 
    top: 80%
}

