<app-submenu-list [ActiveMenu]='1'></app-submenu-list>
<section class="main-wrapper prod-list-page">
    <div class="l-container l-page-nav">
        <ul class="l-page-nav__list">
            <li class="l-page-nav__list-item"><a [ngClass]="{'active': isActiveTab === 'upload'}"
                    (click)="tabChange('upload')">Upload </a></li>
            <li class="l-page-nav__list-item"><a [ngClass]="{'active': isActiveTab === 'mapping'}"
                    (click)="tabChange('mapping')">Mapping List</a></li>
        </ul>
    </div>
    <div class="l-container">
        <!-- <div class="search-order-id">
            <span class="material-icons"> search </span>
            <input type="text" class="textfield" placeholder="Search by order id">
            <div class="btn-filter" ngbDropdown>
                <button class="btn-filter" id="filterPopup" ngbDropdownToggle><img src="../../assets/images/filter.svg"
                        alt="" /></button>
            </div>
        </div>
        <button class="button float-right btn-add-new" (click)="open(content)">
            <span class="material-icons mr-2">
                control_point
            </span> CREATE NEW SCHEME
        </button> -->
        <div class="l-content w-100 pl-0" *ngIf="isActiveTab == 'upload'">
            <!-- <mat-tab label="Upload"> -->
            <div class="w-100 border-0 p-3">
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <div>

                            <b style="color: red;">Instruction:</b>

                            <br />1.Download Template <a style="color: blue;"
                              href="./assets/Samples/account_mapping_ids.csv"></a>
                            <br />1.Change Data
                            <br />2.Upload the CSV File (Accept only csv File)

                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <mat-card-content style="margin-top: 100px; text-align: center;">
                            <label>

                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <input #inputFile type="file" (change)="SelectDocumentFiles($event)"
                                    style="display:none" />

                                <a mat-raised-button color="primary">
                                    <mat-icon>file_upload</mat-icon>
                                    Upload XLSX
                                </a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a style="color: blue;" href="./assets/Samples/account_mapping_ids.csv">Download
                                        Template</a>
                            </label>
                        </mat-card-content>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>

            <!-- </mat-tab> -->
        </div>
        <div class="l-content w-100 pl-0" *ngIf="isActiveTab == 'mapping'">
            <!-- ===================================================
                # Edukan_Admin_Scheme_8
            =================================================== -->
            <div class="tbl-reports card-shadow bg-white h-100">
                <div class="l-tbl-accordion overflow-auto">
                    <div class="w-100 border-0 p-3">
                        <div class="table-responsive">
                            <table class="l-tbl">
                                <tr class="main-tr">
                                    <td>
                                        <div class="td-wrapp d-flex align-items-center"> <span>Account ID</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-wrapp d-flex align-items-center"> <span>Name </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-wrapp d-flex align-items-center"> <span>Phone Number</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-wrapp d-flex align-items-center"> <span>City </span> </div>
                                    </td>
                                    <td>
                                        <div class="td-wrapp d-flex align-items-center "> <span>District </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="td-wrapp d-flex align-items-center "> <span>State</span>
                                        </div>
                                    </td>
                                </tr>
                                <ng-container *ngIf="itemsFleetOwner.length >0">

                                    <tr class="click-tr" *ngFor="let row of itemsFleetOwner">
                                        <td>
                                            <div class="td-wrapp">{{row?.account_data.account_id}}</div>
                                        </td>
                                        <td>
                                            <div class="td-wrapp d-flex align-items-center">{{row?.account_data.name}}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-wrapp d-flex align-items-center">
                                                {{row?.account_data.phone_number}}</div>
                                        </td>
                                        <td>
                                            <div class="td-wrapp d-flex align-items-start flex-column">
                                                {{row?.account_data.city}}</div>
                                        </td>
                                        <td>
                                            <div class="td-wrapp d-flex align-items-start flex-column">
                                                {{row?.account_data.district}}</div>
                                        </td>
                                        <td>
                                            <div class="td-wrapp d-flex align-items-start flex-column">
                                                {{row?.account_data.state}} </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="itemsFleetOwner.length >0">
                                    <tr>
                                        No Data Found
                                    </tr>
                                </ng-container>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="paging">
            <!-- <div class="row">
                <div class="col-4">
                    <div class="info">Showing 9/100 results</div>
                </div>
                <div class="col-4 d-flex justify-content-center">
                    <ul class="paging__list">
                        <li class="paging__item prev"><a href="#"> <span class="material-icons"> chevron_left </span>
                                Prev</a></li>
                        <li class="paging__item"><a href="#">1</a></li>
                        <li class="paging__item"><a href="#" class="active">2</a></li>
                        <li class="paging__item"><a href="#">3</a></li>
                        <li class="paging__item next"><a href="#">Next <span class="material-icons"> chevron_right
                                </span></a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <div class="l-page-nav__dd float-right">
                        <label>Items per page</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>9</option>
                            <option value="1">8</option>
                            <option value="2">7</option>
                        </select>
                    </div>
                </div>
            </div> -->
            <app-pagination [activePage]="currentPage" [totalRecords]="totalrecord" *ngIf="totalrecord>10"
                [recordsPerPage]="noofrecordsperpage" (onPageChange)="pageChange($event)"></app-pagination>
        </div>
    </div>
</section>