.srch-box {
    float: left;
    width: 100%;
    position: relative;
    // margin-bottom: 15px;
}


.leftmargin
{
    margin-left: 0.5px;
}

.checkbox{
    float: left;
    position: relative;
    color: #333333;
    display: flex;
    cursor: pointer;
    position: relative;
    margin: 0;
}
