<!-- <div class="modal-dialog modal-xl modal-dialog-centered"> -->
    <div class="modal-content" style="width: 100%;">
        <div class="modal-header modal-title">
            Cash Invoice Log
            <div (click)="closeModal()" type="button"><i class="fa fa-times"></i></div>
            <!-- <button (click)="closeModal()" type="button" class="close" aria-label="Close" ></button> -->
        </div>
        <div class="modal-body">
            <div class="l-content w-100 pl-0">
                <div class="tbl-reports card-shadow bg-white h-100">
                    <div class="l-tbl-accordion overflow-auto">
                        <div class="w-100 border-0 p-3">
                            <div class="table-responsive" *ngIf="cashes.length > 0">
                                <table class="l-tbl">
                                    <tr class="main-tr">
                                    <th>Invoice No</th>
                                    <th>Status</th>
                                    <th>Created Date</th>
                                    </tr>
                                    
                                    <tr *ngFor="let item of cashes">
                                        <td>
                                            <div class="td-wrapp">
                                                {{ item?.invoice_no }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-wrapp">
                                                {{ item?.status | titlecase }}
                                            </div>
                                        </td>
                                        <td>
                                            <div class="td-wrapp">
                                                {{ item?.updated_at  | date :'dd-MM-yyyy' }} 
                                            </div>
                                        </td>
                                        <td >
                                            <div class="td-wrapp">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div *ngIf="cashes.length == 0">
                           <h1>No Data Found</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>