<section class="main-wrapper dashboard">
    <div class="l-container">
        <div class="row">
            <div class="col-12 sorting">
                <ul class="sidebar-cards__chk-list">
                    <li class="sidebar-cards__chk-list-item chkbox"><input type="radio" id="h"><label for="h">This week</label></li>
                    <li class="sidebar-cards__chk-list-item chkbox"><input type="radio" id="i"><label for="i">This month</label></li>
                    <li class="sidebar-cards__chk-list-item chkbox"><input type="radio" id="j"><label for="j">This quarter</label></li>
                    <li class="sidebar-cards__chk-list-item chkbox"><input type="radio" id="k"><label for="k">This year</label></li> 
                    <li class="sidebar-cards__chk-list-item chkbox"> 
                        <div class="form-group m-0 calendar">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                        <span class="material-icons">
                                            21 AUG 2020 - 27 AUG 2020
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li> 
                </ul>
            </div>            
            <div class="col-12 small-charts">
                <div class="row">
                    <div class="col">
                        <div class="small-charts__aside card-shadow bg-white ">
                            <div class="icons"><img src="./assets/images/planned-orders.svg" alt=""></div>
                            <div class="data">
                                <h3>₹ 98,63,500</h3>
                                <span>Planned orders (320)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="small-charts__aside card-shadow bg-white ">
                            <div class="icons"><img src="./assets/images/new-orders.svg" alt=""></div>
                            <div class="data">
                                <h3>₹ 13,50,500</h3>
                                <span>New orders (150)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="small-charts__aside card-shadow bg-white ">
                            <div class="icons"><img src="./assets/images/total-invoices.svg" alt=""></div>
                            <div class="data">
                                <h3>₹ 84,50,500</h3>
                                <span>Total Invoices (350)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="small-charts__aside card-shadow bg-white ">
                            <div class="icons"><img src="./assets/images/pending-invoices.svg" alt=""></div>
                            <div class="data">
                                <h3>₹ 25,50,500</h3>
                                <span>Pending Invoices (127)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="small-charts__aside card-shadow bg-white ">
                            <div class="icons"><img src="./assets/images/planned-orders.svg" alt=""></div>
                            <div class="data">
                                <h3>₹ 36.8 L <span>Credit Used <a href="#"> <span class="material-icons">  arrow_drop_up </span> 5.5%</a></span></h3> 
                                <div class="progress-chart">
                                    <div class="progress-chart__aside">
                                        <div class="progress-chart__sick" style="width:75%;"></div>
                                    </div>
                                    (75%)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="large-charts">
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart1.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart2.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart3.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src=./assets/images/chart4.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart5.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart6.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src=./assets/images/chart7.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart8.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart9.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart10.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart11.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart12.jpg" alt=""></div>
            </div>
            <div class="large-charts__items">
                <div class="large-charts__aside card-shadow bg-white"><img src="./assets/images/chart13.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>