<footer class="footer">
    <div class="l-container">
        <!-- <div class="row justify-content-between">
            <div class="col-12">
                <h2 class="flogo">eDukaan</h2>
            </div>
            <div class="col-12 col-lg-4">
                <div class="fmenu">
                    <ul class="fmenu__list">
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Feedback</a></li>
                        <li><a href="#">Disclaimer</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Connect With Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-3 btn-play-store">
                <a href="#">
                    <img alt="Google Paly Store" src="../../../assets/images/playStore.png">
                </a>
               <p> Download our mobile app from play store to place order &amp; instant delivery updates</p>
            </div>
            <div class="col-12 col-lg-3 mailing">
                <p class="mb-3"> Join our mailing list for exclusive offers </p> 
                <div class="mailing__box">
                    <input type="email" class="textfield" placeholder="abc@xyz.com">
                    <button type="button" class="button">
                        <span class="material-icons"> east </span>
                    </button>
                </div> 
            </div>
        </div>  -->
        <div class="footer__btm row">
            <div class="col-12 col-lg-8">
                <p> &copy; Copyright 2020 Tata Motors. All Rights Reserved. Legal Disclaimer Open Source License Disclosure <span>Powered by <a href="#" target="_blank">TATA Motors Ltd</a></span> </p>
            </div> 
            <div class="col-12 col-lg-4"> 
                <ul class="social">
                    <li> </li>
                    <li class="ml-auto"><a href="#"><img alt="Twitter" src="../../../assets/images/twitter.png"></a><a
                            href="#"><img alt="LinkedIn" src="../../../assets/images/linkedIn.png"></a><a href="#"><img
                                alt="YouTube" src="../../../assets/images/youtube.png"></a><a href="#"><img
                                alt="Instagram" src="../../../assets/images/insta.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>